body { padding: 40px 0 0 80px; }

abbr {
  border-bottom: 1px dotted #999;
  font-size: $smaller-font-size;
}

.header {
  color: $medium-gray;
  width: 500px;

  h1 {
    background-color: $dark-blue;
    font-size: $largest-font-size;
    font-style: italic;
    font-weight: normal;
    text-align: center;
  }

  h1 a {
    color: $light-gray;

    &:hover {
      color: $light-gray;
    }
  }
}

footer {
  font-family: $helvetica;
  color: $medium-gray;
  font-size: $smaller-font-size;
}

pre,
tt,
:not(pre) > code,
kbd {
  font-size: $smaller-font-size;
}

article p {
  display: block;
  width: 500px;
}

.highlight,
blockquote
{
  background-color: rgb(245, 245, 255);
  border-left: 0;
  border-right: 0;
  border: 1px solid #dde;
  display: block;
  left: -80px;
  margin-right: 0;
  min-width: 500px;
  padding: 20px 0 20px 80px;
  position: relative;
  right: 0;
  width: 100%;
}

.highlight {
  strong {
    color: #219161;
    font-weight: normal;
  }
}

.article-header {
  h1 {
    margin-bottom: -$small-spacing / 2;
  }

  time {
    color: $medium-gray;
    font-style: italic;
  }
}
