body {
  padding: $base-spacing;

  @include media($medium-breakpoint) {
    padding: $largest-spacing/2 0 0 $largest-spacing;
  }
}

abbr {
  border-bottom: 1px dotted #999;
  font-size: $smaller-font-size;
}

.header {
  color: $medium-gray;
  max-width: $max-content-width;

  h1 {
    background-color: $dark-blue;
    margin-top: 0;
    font-size: $largest-font-size;
    font-style: italic;
    font-weight: normal;
    text-align: center;
  }

  h1 a {
    color: $light-gray;

    &:hover {
      color: $light-gray;
    }
  }

  p {
    font-style: italic;
  }
}

footer {
  font-family: $helvetica;
  color: $medium-gray;
  font-size: $smaller-font-size;
}

tt,
code,
kbd {
  font-size: $smaller-font-size;
}

article {
  max-width: $max-content-width;

  ul {
    list-style-type: disc;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
  }

  blockquote {
    font-style: italic;
  }
}

.highlight,
blockquote
{
  background-color: rgb(245, 245, 255);
  border-color: #dde;
  border-style: solid;
  border-width: 1px 0;
  display: block;
  margin-left: -$base-spacing;
  margin-right: 0;
  padding: $base-spacing;
  width: 100vw;

  @include media($medium-breakpoint) {
    margin-left: -$largest-spacing;
    padding: 20px 0 20px $largest-spacing;
  }
}

.highlight {
  line-height: 1.2;

  strong {
    color: #219161;
    font-weight: normal;
  }
}

.article-header {
  color: $medium-gray;
  font-style: italic;

  h1 {
    font-style: normal;
    margin-bottom: -$small-spacing / 2;
  }
}
