// Typography
$base-font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, Georgia, FreeSerif, serif;
$code-font-family: Monaco, Consolas, 'Lucida Console', monospace;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;
$larger-font-size: $base-font-size * 1.4;
$largest-font-size: $base-font-size * 2.2;
$smaller-font-size: $base-font-size * 0.7;

// Line height
$base-line-height: 1.8;
$heading-line-height: 2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$largest-spacing: $base-spacing * 3;
$base-z-index: 0;

// Content
$max-content-width: 37em;

// Colors
$blue: #4444bb;
$dark-blue: #0e0826;
$dark-gray: #333;
$medium-gray: #777;
$light-gray: #eee;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
