<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>
      We're Selling Everything We Own
    </title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/sale.css" media="screen" />
  </head>
  <body>
    <header>
      <h1>
        <a href="/everythingiown">We're Selling Everything We Own</a>
      </h1>
      <div class="image chicago">
        <img src="chicago.png">
        <span>We're here in Chicago</span>
      </div>
      <p>
        So here's the deal. My wife and I moving to Germany and selling
        everything we own.  I start December 6th, so I need to try and clear
        out as quickly as possible.  With your help, we can make this move
        happen!
      </p>
      <div class="clear">
      </div>
      <div class="image berlin">
        <img src="berlin.png">
        <span>And we're going to Berlin!</span>
      </div>
      <p>
        <strong>Also, we're looking for someone to sublet our
          apartment.</strong> It's in a great part of Lincoln Park, with a
        lofted bedroom / bathroom. Rent is surprisingly inexpensive for such
        a nice little apartment. Let us know if you're interested.
      </p>
    </header>
    <div class="clear">
    </div>
    <article>
      {{ content }}
    </article>
    <footer></footer>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-137022-3']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
